@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #E9F1F7;
  background-image: linear-gradient(135deg, #E9F1F7, #2274A5);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: transparent;
  color: #131B23;
  line-height: 1.8;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
  color: #131B23;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

thead {
  background-color: #2274A5;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

th {
  letter-spacing: 0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

tbody tr {
  transition: background-color 0.3s;
}

tbody tr:hover {
  background-color: #E7DFC6;
}

tbody td {
  border-bottom: 1px solid #E9F1F7;
}

td:nth-of-type(1),
td:nth-of-type(2),
th:nth-of-type(1),
th:nth-of-type(2) {
  text-align: left;
}

td:nth-of-type(1),
td:nth-of-type(2) {
  color: #816C61;
}

td:nth-of-type(3),
td:nth-of-type(4),
td:nth-of-type(5),
th:nth-of-type(3),
th:nth-of-type(4),
th:nth-of-type(5) {
  text-align: right;
}

@media (max-width: 600px) {
  table, tbody, tr, td, th {
      display: block;
  }

  thead {
      display: none;
  }

  tbody tr {
      margin-bottom: 0.625em;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 0.5em;
  }

  td, th {
      padding-left: 0;
  }

  td:before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      margin-right: 0.5em;
  }

  td:nth-of-type(1):before { content: "Name"; }
  td:nth-of-type(2):before { content: "Client"; }
  td:nth-of-type(3):before { content: "Hours"; }
  td:nth-of-type(4):before { content: "Billable Hours"; }
  td:nth-of-type(5):before { content: "Billable Amount"; }
}


#toggleClientList:not(:checked) + label + #client-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

#toggleClientList:checked + label + #client-list {
    transition: max-height 0.3s ease;
}

#toggleDetails:not(:checked) + label + #show-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#toggleDetails:checked + label + #show-details {
  transition: max-height 0.3s ease;
}